[submodule "noteslab-data-uniffi/noteslab-data"]
	path = noteslab-data-uniffi/noteslab-data
	url = https://github.com/hgwebs4/noteslab-data.git
[submodule "noteslab-data-uniffi/noteslab-data-uniffi/noteslab-data"]
	path = noteslab-data-uniffi/noteslab-data-uniffi/noteslab-data
	url = https://github.com/hgwebs4/noteslab-data.git
